body {
    background-color: black;
    color:white;
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.container {
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
    /* this is so there is a margin on both sides of the page and
     it stays centered no matter what */
}

h6 {
    color: rgb(209, 218, 86);
    line-height: 1.5;
    font-weight:lighter;
    text-align:center;
}

h4{
    color:pink;
    font-size: 45px;
    padding: 25px 50px 75px 100px;
    background: cyan;
    width: 200px;
    margin: 25px;
    border: 10px green solid;
}

/* margin: empty space around my element.
border: a border / stroke / around my element.
padding: empty space WITH background around my element. */

h5{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.top-section {
    background: grey;
    font-size: 40px;
}

.bottom-section {
    background: white;
    border: yellow 5px solid;
}

.bottom {
    background-color: yellow;
    color: black;
}

.bottom-section {
    background-color: blue;
    color: white;
}

.highlight {
    background-color: pink;
    color: whitesmoke;
    font-size: 40px;
    margin-top: 50px;
    border-left-color: green;
    border-right-color: purple;
    border-left-style:dashed;
    border-right-style:double;
    border-left-width: 15px;
    border-right-width: 15px;
    background-image: url(../img/space.jpg);
    background-size: cover;
    background-position: center;
    text-transform:capitalize;
}

#id {
    background-color: green;
    color: black;
    margin: 50px;
    border-width: 10px;
    border-color: pink;
    border-style:groove;
    background-image: url(../img/moroccan-flower.png)
}

/* . then the class name means you're calling for the class */

.hamster {
    background-image: url(../img/hamster.jpg);
    background-repeat: no-repeat;
    padding: 300px;
    margin: 50x;
    color: wheat;
    text-align: right;
}

a {
    color: yellow;
    /* a is used for links 
    this has to be the exact order, a>visited>hover>active */
    text-decoration: none;
    /* this removes the underline in a link. */
}

a:visited {
    color: violet;
}

a:hover {
    color: green;
    /* this is the pseudo class of a
    a:hover changes when you mouse over a link. */
}

a:active {
    color: tomato;
    /* when you click down it changes to this color. */
}

.body {
    background-color: rgb(6, 73, 95);
    padding: 5px;
    line-height: 1.5;
}

ol {
    list-style-type:upper-roman;

}

ol li {
    color: red;
    background: white;
    list-style-position: inside;
    margin-bottom: 15px;
    /* this is the color of the words in the list */
}

ul {
    list-style-type: lower-alpha;
    list-style-position:inside;
    color:wheat;
    background-color: brown;
    padding: 5px;
    margin: 10px;
    clear: both;
}

img {
    float:left;
    margin-right: 15px;
}

.yellow-box {
    height: 400px;
    width: 400px;
    background: brown;
    float: right;
    color: white;
}

.green-box {
    height: 400px;
    width: 400px;
    background: green;
    float: left;
    color: black;
}

.box {
    width: 150px;
    height: 150px;
    float: right;
}

.box1 {
    background: #FF0000;
    /* HEX: #FF0000 = #RRGGBB, Strength of the color F being the highest O -> 9, A -> F */
}

.box2 {
    background: rgb(5, 5, 233);
    /* RGB scale = 0 - 255 
    You can also use rgba to make it transparant ex: rgba(1, 5, 25, .5) 
    the a means (alpha) transparant and its from 0 -1 */
}

.box3 {
    background: hsl(360, 100%, 50%);
    /* HSL = COLOR, SATURATION % (The lower the number the more grey it is.)
    & LIGHTNESS % (The higher the % the whiter it gets.) 
    you can also use hsla for transparancy. */

    /* you could use opacity: to make it transparant instead of rgba 
    it uses the same 0 -1 scale */
}